/* setting the background style for the entire project*/
body {
    background-image: linear-gradient(rgb(255, 223, 227), white);
}

/* most styles in this sheet are adjusting fonts */
.title {
    font-family: 'Taviraj', serif;
    font-weight: 900;
}

.heading {
    font-family: 'Taviraj', serif;
    font-weight: 700;
    text-align: center;
}
.about {
    font-family: 'Taviraj', serif;
    font-weight: 500
}

.title {
    font-family: 'Taviraj', serif;
    font-weight: 600
}

.artistabout {
    font-family: 'Taviraj', serif; 
    font-style: italic;
    font-weight: 700;
    text-align: center;
    font-size: 225%;
}

.resume {
    font-family: 'Taviraj', serif; 
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 100%;
    justify-content: center;

}

.links {
    font-family: 'Taviraj', serif; 
    font-weight: 600;
    text-align: center;
    font-size: 100%;
}

/* this sets the font for all paragraphs */
.content {
    font-family: 'Taviraj', serif;
    font-weight: 600;
}

.footer {
    font-family: 'Taviraj', serif;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

/* adjusting the spacing for the carousel */
.carousel {
    margin: auto;
  }

